@model EmprestimoModels

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Cadastrar Aluguel da Fita";
}

<div class="container bg-dark p-5 rounded-5">
        
    <div class="mb-5 text-center">
        <h1 class="text-light">Cadastro de Aluguel</h1>
    </div>

    <form method="post" asp-controller="Aluguel" asp-action="Register">

        <div class="mb-3">
            <label for="Recebedor" class="form-label text-light">Recebedor</label>
            <input type="text" class="form-control" asp-for="Recebedor" id="recebedor" placeholder="Quem esta recebendo a fita?">
        </div>

        <div class="mb-3">
                <label for="Fornecedor" class="form-label text-light">Fornecedor</label>
                <input type="text" class="form-control" asp-for="Fornecedor" id="fornecedor" placeholder="Quem esta fornecendo a fita?">
        </div>

        <div class="mb-3">
                <label for="FitaAlugada" class="form-label text-light">Título da Fita</label>
                <input type="text" class="form-control" id="fita" asp-for="FitaAlugada" placeholder="Qual o título da fita?">
        </div>
            
        <div class="d-flex gap-5 mt-5"> 
            <button type="submit" class="btn btn-success w-50">Cadastrar</button>
            <a class="btn btn-primary w-50" asp-controller="Aluguel" asp-action="Index">Voltar</a>
        </div>

        
        
    </form>

</div>