@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reviva a Diversão Clássica: Aluguel de Fitas de Videogame Antigas</h1>
    <p>
        Explore o passado dos videogames com nosso serviço de aluguel de fitas de videogame antigas. Reviva a emoção dos jogos clássicos em consoles vintage. De Mario a Sonic e mais, oferecemos uma coleção diversificada de fitas para vários sistemas. Com o aluguel de fitas de videogame antigas, você pode mergulhar nas experiências autênticas dos anos dourados dos jogos. Escolha entre uma variedade de títulos, alugue por um período flexível e redescubra a magia intemporal dos videogames. Junte-se a nós para uma viagem nostálgica pelos jogos que moldaram gerações. Alugue hoje e desbloqueie as memórias de outrora!
    </p>

    <div></div>

</div> 
